@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full hover:cursor-pointer hover:scale-105 hover:shadow-sm hover:bg-gray-100 active:scale-95 transition duration-100 ease-out transform w-fit;
  }
}

html {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}
body {
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.highlight {
  z-index: 100;
  transform: scale(1.04);
  transition: 0.2s ease-out;
  background: black;
  color: white;
}
